#main-contents {

  user-select: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  & > .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.35;
  }

  .contents {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > img {
      width: 250px;
    }

    h1 {
      margin: 10px 0 10px;
      font-size: 50px;
      font-weight: 800;
      color: #ff0080;
    }

    .buttons {

      position: relative;
      height: 45px;

      ion-button {

        width: 100px;

      }

      .button {

        position: absolute;
        color: white;
        background-color: #ff0080;

        font-size: 20px;

        border-radius: 7px;
        padding: 10px 15px;

        &#no {
          left: 15px;
        }

        &#yes {
          right: 15px;
        }

        &:hover {
          cursor: pointer;
        }

      }

    }
  
  }

  .fail {
    display: none;
  }

  .success {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // Pink color
    background-color: #f9cce5;

    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .bg {
      opacity: 0.2;
    }

    h2 {
      font-weight: 800;
      position: relative;
    }

  }

}

