<div id="main-contents">

  <div class="bg" style="background-image: url('assets/bg.jpg');"></div>

  <div class="contents">
    <img src="assets/cat.png" alt="">
    <h1>Bby, will you be my Valentine?? 👀</h1>
    <div class="buttons">
      <div id="yes" class="button" (click)="clickYes()">Yes!!</div>
      <div id="no" class="button" style="top:{{noTop}}px; left:{{noLeft}}px;">Naur..</div>
    </div>
  </div>

  <div class="fail" style="opacity: {{failOpacity}};">
    <img src="assets/dont.png" alt="">
    <h3>PLZ DON'T</h3>
  </div>

  <div class="success" [ngClass]="{ 'active': state == 2 }">
    <div class="bg" style="background-image: url('assets/hearts.gif');"></div>
    <img src="assets/barbie-dogs-dog-dancing.gif" alt="">
    <h2 style="background-image: url('assets/sparkles.gif');">Yipee baby!!!!! 😍 <br> Can't wait for our cute date hehe 💕😘</h2>
  </div>

</div>


